@font-face {
  font-family: 'Urbanist';
  src: url('../public/Urbanist/Urbanist-VariableFont_wght.ttf');
}

*,
*::before,
*::after {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Urbanist', sans-serif;
}

/* Possible color palet: teal, coral, #f50057(pink) */
